/* Enable horizontal scrolling and hide it for Webkit browsers */
.stories-wrapper {
    display: flex; /* Ensures the cards stay inline */
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical scrolling */

    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.stories-wrapper::-webkit-scrollbar {
    display: none;
}

/* The cards inside the wrapper */
.story-card {
    min-width: 160px;
    height: 200px;
    background-size: cover;
    background-position: center;
    flex: 1;
}

.custom-main-content {
    /* Imposta la larghezza massima desiderata per il contenuto centrale */
    max-width: 800px; 
    /* Forza la centratura (margini laterali uguali) */
    margin-left: auto;
    margin-right: auto;
    

}