/* Enable horizontal scrolling and hide it for Webkit browsers */
.stories-wrapper {
    display: flex; /* Ensures the cards stay inline */
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical scrolling */

    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.stories-wrapper::-webkit-scrollbar {
    display: none;
}

/* The cards inside the wrapper */
.story-card {
    min-width: 160px;
    height: 200px;
    background-size: cover;
    background-position: center;
    flex: 1;
}

.custom-main-content {
    /* Imposta la larghezza massima desiderata per il contenuto centrale */
    max-width: 800px; 
    /* Forza la centratura (margini laterali uguali) */
    margin-left: auto;
    margin-right: auto;
    

}

body {
    background-color: #f8f9fa; /* Grigio chiaro come sfondo della pagina */
}
        /* Stile personalizzato per il bottone, replicando il colore scuro/rosso */
.btn-custom-red {
    background-color: #922828; 
    border-color: #922828;
    color: white;
    font-weight: bold;
}
.btn-custom-red:hover {
    background-color: #7a1f1f; 
    border-color: #7a1f1f;
    color: white;
}
/* Classe per limitare la larghezza del form e centrarlo (simulazione mobile) */
.form-container-mobile {
    max-width: 400px; 
    width: 95%; 
}
/* Classe per dimensionare l'immagine del polipo */
.logo-upload-size {
    max-width: 40px;
    height: auto; 
    }

.logo-form-size {
    max-width: 200px;
    width: 100%; 
}