/* BASE STYLE */

#search-suggestions {
    z-index: 1050;
    width: 100%;
    display: none;
}

.avatar-nav { 
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.dropdown-menu {
    min-width: 250px;
}

/* INDEX PAGE*/

/* Enable horizontal scrolling and hide it for Webkit browsers */
.stories-wrapper {
    display: flex;
    /* Ensures the cards stay inline */
    overflow-x: auto;
    /* Enables horizontal scrolling */
    overflow-y: hidden;
    /* Prevents vertical scrolling */

    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.stories-wrapper::-webkit-scrollbar {
    display: none;
}

/* The cards inside the wrapper */
.story-card {
    min-width: 160px;
    height: 200px;
    background-size: cover;
    background-position: center;
    flex: 1;
}

.custom-main-content {
    /* Imposta la larghezza massima desiderata per il contenuto centrale */
    max-width: 800px;
    /* Forza la centratura (margini laterali uguali) */
    margin-left: auto;
    margin-right: auto;


}

body {
    background-color: #f8f9fa;
    /* Grigio chiaro come sfondo della pagina */
}

/* Stile personalizzato per il bottone, replicando il colore scuro/rosso */
.btn-custom-red {
    background-color: #922828;
    border-color: #922828;
    color: white;
    font-weight: bold;
}

.btn-custom-red:hover {
    background-color: #7a1f1f;
    border-color: #7a1f1f;
    color: white;
}
/* Classe per dimensionare l'immagine del polipo */
.logo-upload-size {
    max-width: 40px;
    height: auto;
}

.logo-form-size {
    max-width: 200px;
    width: 100%;
}

/*ADMIN*/

.admin-icon {
    width: 24px;
}

/*SIDE BAR*/
#sidebar {
    position: fixed;
    left: -280px;
    top: 0;
    width: 280px;
    height: 100vh;
    background: white;
    transition: left 0.3s ease;
    z-index: 1050;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar.active {
    left: 0;
}

#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1040;
}

#sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}
